!!!HTML

%html
  
  %head
    %meta{"content" => "IE=edge", "http-equiv" => "X-UA-Compatible"}
    %meta{"charset" => "utf-8"}
    %meta{"content" => "width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no", "name" => "viewport"}
    %link{:href => "https://unpkg.com/basscss@8.0.2/css/basscss.min.css", :rel => "stylesheet"}
    %link{:href => "static/style.css", :rel => "stylesheet"}

  %body
    .content
      .stripe.fill.bg
        .header.container
          %img.logo{:src=> "{{ header.logo}}"}
          %h2 {{ header.title }}
          %h3 {{ header.time }}, {{ header.date }}

      .stripe
        .navbar


      .stripe
        .event
          .container.clearfix
            .md-col-6.col
              %h2 {{ details.heading }}
              %p {{ details.blurb }}
            .md-col-1.col
              %p
            .md-col-5.col
              %img.rounded{:src => "{{ details.img }}"}

      .stripe.fill
        .map
          %iframe{:src => "{{ map.shareurl }}", :frameborder => "0", :width => "100%", :height => "100%"}

      .stripe.fill.bg
        .logos.container
          {%- for item in logos %}
          %a{:href => "{{ item[1] }}", :class=> "instlogo"}
            %img{:src => "static/{{ item[0] }}", :class => "instlogo"}
          {%- endfor %}

