<!DOCTYPE html>
<html>
<head>
<meta content='IE=edge' http-equiv='X-UA-Compatible'>
<meta charset='utf-8'>
<meta content='width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no' name='viewport'>
<link href='https://unpkg.com/basscss@8.0.2/css/basscss.min.css' rel='stylesheet'>
<link href='static/style.css' rel='stylesheet'>
<title>{{ header.title }}</title>
</head>
<body>
<div class='content'>
<div class='stripe fill bg'>
<div class='header container'>
<img class='logo' src='{{ header.logo}}'>
<h2>{{ header.title }}</h2>
<h3>{{ header.start }} - {{ header.stop }}</h3>
</div>
</div>
<div class='navcontainer'>
<div class='navbar'>
<div class='container'>
<ul class='nav'>
{%- for item in navigation  %}
<li>
<a href='{{ item.page }}'>
{{ item.name }}
</a>
</li>
{%- endfor %}
</ul>
</div>
</div>
</div>
<div class='stripe'>
<div class='event'>
<div class='container clearfix'>
{% block content %}{% endblock %}
</div>
</div>
</div>
{% block map %}
<div class='stripe fill'>
<div class='map'>
<iframe frameborder='0' height='100%' src='{{ map.shareurl }}' width='100%'></iframe>
</div>
</div>
{% endblock %}
<div class='stripe fill bg'>
<div class='logos container'>
{%- for item in logos %}
<a class='instlogo' href='{{ item[1] }}'>
<img class='instlogo' src='static/{{ item[0] }}'>
</a>
{%- endfor %}
</div>
</div>
</div>
</body>
</html>
