{% extends "layout.html" %}
{% block content %}
<h1>{{ details.heading }}</h1>

<p>{{ details.blurb }}</p>

{%- if details.registrationopen %}
<p><b>Please register for the workshop, dinner, and talks using <a href="{{ details.link }}">this registration form</a>.</b></p>
{%- else %}
<p>Sorry, but registration is now closed.</p>
{%- endif %}

<h1>Workshop Dinner</h1>
<p>{{ dinnerinfo.blurb }}</p>
<h2 class="center">Menu</h2>
<div class="dinner">
    {%- for name, course in dinnerinfo.courses.items() %}
        <div class="{{ name }} dinneritem">
            <h4>{{ name | title }}</h4>
            <ul>
                {%- for item in course %}
                    <li>{{ item }}</li>
                {%- endfor %}
            </ul>
        </div>
    {%- endfor %}
</div>
{% endblock %}

